header{
  color: white;
  text-align: center;
  background-color: black;
  grid-area: h;
}

.container{
  padding: 10px;
  display: grid;
grid-gap: 10px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 40px auto 40px;
  grid-template: 
  'h h h h h h h h h h h h'
  'b b b d d d l l l l l l'
  'f f f f f f f f f f f f'
  ;
}
.ldp{
grid-area: l;
}
.Add-budget{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: b;
  gap: 10px;

}
.Add-budget input{
  width: 50%;
}
.Add-budget button {
  width: 50%;
}
.Add-depense input{
  width: 50%;
}
.Add-depense button {
  width: 50%;
}

.Add-depense{
  display: flex;
  flex-direction: column;
  grid-area: d;
  justify-content: center;
  gap: 10px;
}
.stats{
  padding: 10px;
  margin-top: 25px;
  color: white;
background-color: black;  
grid-area: f;
  display: flex;
  flex-direction: row;
align-items: center;
justify-content: space-between;
}